.post-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.post-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.post-list li {
  cursor: pointer;
  padding: 10px 0;
}

.post-list li:hover {
  color: #888;
}

.post-list li.selected {
  background-color: #f0f0f0;
  padding-left: 20px;
  margin-left: -20px;
  width: calc(100% + 20px);
}
